body{
    background-color: rgb(238, 238, 238);
    margin: 2% 0px;
}
.container{
    margin: 0px auto;
    width: 70%;
    padding: 20px 50px;
    padding-bottom: 100px;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(182, 181, 181) ;
}
.section h2{
    margin-bottom: 0px;
}
.section h3{
    margin-top: 30px;
    margin-bottom: 15px;
}
.section p{
    margin-top: 5px;
    margin-bottom: 0px;
}
hr{
    margin-top: 35px;
}
.sub-section:first-of-type {
    margin-bottom: 13px;
}
ul{
    margin-top: 5px;
}
.section:nth-last-of-type(2) h3{
    margin-bottom: 5px;
}
.section:last-of-type{
    margin: 50px 0px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
}
thead {
    background-color: #f0f0f0;
}
table, th, td {
    border: 1px solid #ccc;
}